<h1>陰キャ一覧</h1>
<table class="table">
  <thead>
  <tr>
    <th>ユーザー</th>
    <th>自己紹介</th>
  </tr>
  </thead>
  <tbody>
  <% @users.each do |user| %>
    <tr>
      <td>
        <%= link_to(user.name,  user_path(id: user.id)) %>
      </td>
      <td class="tententen">
        <%= user.status %>
      </td>
      <% if current_user.admin %>
      <td>
        <%= link_to("削除", user, method: :delete, data:
            { confirm: "こいつ何かやらかした？",
              verify: "#{user.name}",
              verify_text: "削除する場合はそいつのUsername打ってね",
              cansel: "やめる",
              commit: "消す"}, title: "確認") %>
      </td>
        <% end %>
    </tr>
  <% end %>
  </tbody>
</table>
