<% if current_user.nil? %>
  <h1 style="font-weight: 900">君たちはきっと強くなれる</h1>
  <% else %>
  <h1 style="font-weight: 900">君はもっと強くなれる</h1>
<% end %>
<br>
<br>
<br>
<br>
<h5>アップデート情報</h5>
<p>2019/7/8  トーク削除、トーク編集と削除をプルダウン化</p>
<p>          イベント参加機能実装、参加済の状態のボタンを押すと参加解除+もしトークがあるなら削除</p>
<p>2019/7/4  トークシャッフル、管理者追加</p>
<p>2019/7/2  自己紹介文追加したお。マイページから名前も編集できるお。</p>