<nav class="navbar navbar-expand-sm navbar-dark bg-dark mt-3 mb-3">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav4" aria-controls="navbarNav4" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="container">
    <%= link_to 'LT Manager', root_path, class: 'navbar-brand', title: "topへ", rel: "tooltip" %>
    <div class="collapse navbar-collapse justify-content-end">
      <ul class="navbar-nav">
        <% if current_user.nil? %>
          <li class="nav-item">
            <a class="nav-link" href="/login" title="login">
              <i class="fas fa-sign-in-alt"></i>            </a>
          </li>
        <% else %>
          <li class="nav-item">
            <a class="nav-link" href="/users" title="陰キャ一覧">
              <i class="fas fa-user-friends"></i>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/events" title="LT一覧">
              <i class="fas fa-chalkboard-teacher"></i>
            </a>
          </li>
          <li class="nav-item">
            <%= link_to current_user.name, user_path(id: current_user), class: "nav-link" %>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/logout" data-method="delete" title="logout">
              <i class="fas fa-sign-out-alt"></i>            </a>
          </li>
        <% end %>
        <li class="nav-item active">
          <%= link_to "文句はこちら", "https://forms.gle/D8R2dc6E7rWfWg117", class: "nav-link", target: "_blank", title: "え、製作者である柴田に匿名だからといって文句を言うんですか？直接言えば良いんじゃないんですか？" %>
        </li>
      </ul>
    </div>
  </div>
</nav>
